body {
    transition: all 1s;
    transform-style: preserve-3d;
}
.logn {
    background-color: rgb(231, 231, 231,60%);
    z-index: 3;
    /* opacity: 0; */
}
.sign {
    background-color: rgba(226, 226, 226, 60%);
    /* z-index: 2; */
    opacity: 0;
}
.find {
    background-color: rgba(226, 226, 226, 60%);
    /* z-index: 1; */
    opacity: 0;
}
.fn a {
    color: #3f697d;
    text-decoration: none;
}
.fn a:hover {
    color: #ddd;
}
/* .logn:has(.ls:active) {
    animation: anti 1s forwards ease-in-out;
} */



/* 消失 */
@keyframes anti {
        0% {
            transform: rotateY(0deg);
            opacity: 1;
            z-index: 3;

        }
        80%{
            opacity: 0;
        }

        100% {
            transform: rotateY(180deg);
            opacity: 0;
            z-index: 1;
        }
    }
/* 出现 */
@keyframes ti {
        0% {
            /* transform: rotateY(0deg); */
            opacity: 0;
            z-index: 1;
        }
        60%{
            opacity: 0;
        }

        100% {
            /* transform: rotateY(-180deg); */
            opacity: 1;
            z-index: 3;
        }
    }

